<% provide(:title, 'Contact Us')%>
<!DOCTYPE html>
<html>
<head>
	<title>MicroText | About Us</title>
</head>
<body>
<h1>About Us</h1>
<p>
Servicely offers industry leading Cloud-based services for Startups, SMBs and Enterprises. Our services include API design, Enterprise mobility, Cloud automation, Design for Cloud and Cloud security consulting. All our services are tailored for cloud-based use cases and we theme "Cloudify your Business" across a number of industries including Financial, Media/Entertainment, Marketing/Advertising and Technology. We are technology partners of Amazon, Rackspace, Google and Salesforce cloud platforms. <br>
<br>
Servicely is the service arm of Horoppa Labs, LLC -- founded in 2008 by a visionary entrepreneur of Silicon Valley and the team consists of service consultants, designers, developers, integrators and operators who have a proven track record of superior technical expertise.
</p>
</body>
</html>

