<% provide(:title, 'Contact Us')%>
<!DOCTYPE html>
<html>
<head>
	<title>MicroText | Contact Us</title>
</head>
<body>



<h3>USA Office</h3>
<p>Horoppa Labs<br>
333 Bowers Street Ave Suite # 130<br>
Santa Clara, CA 95054. 
</p>
<br>
<br>
<h3>Dhaka Office</h3>
<p>Horoppa Labs<br>
House#342, Road#25<br>
Mohakhali DOHS<br>
Dhaka - 1206<br>
Bangladesh
</p>


</body>

</html>