<!DOCTYPE html>
<html>
<head>
	<title>Help | Getting Started</title>
</head>
<body>
<h1>Getting Started</h1>
<p>If you've signed up for MicroText and are wondering how to get started or why you're here, this page is for you. This guide is designed to help you dive into Microtext’s wealth of information and find what matters most to you. First things first, you might be wondering: <br>   
<br>
<h3>What is MicroText anyway?</h3>
Twitter is an information network made up of 140-character messages called MicroText. It's an easy way to discover the latest news related to subjects you care about.
<br>
<br>
<h3>How is it useful?</h3>
MicroText contains information you will find valuable. Messages from users you choose to follow will show up on your home page for you to read. It’s like being delivered a newspaper whose headlines you’ll always find interesting – you can discover news as it’s happening, learn more about topics that are important to you, and get the inside scoop in real time.</p>
</body>
</html>