<% provide(:title, 'Help')%>
<!-- <!DOCTYPE html>
<html>
<head>
	<title>MicroText | <%= yield(:title)%></title>
</head>
<body> -->
<h1>Help</h1>
<p>This is the help page for MicroText</p>
<!-- </body>
</html> -->