<% provide(:title, 'Help')%>
<!DOCTYPE html>
<html>
<head>
	<title>MicroText | Help</title>
</head>
<body>
<h1>Help</h1>
<p>Help page for MicroText</p>
<li>
<%= link_to "Getting Satarted with MicroText", getting_started_path%>
</li>
<li><%= link_to "Signing Up", signing_up_path%></li>
</body>
</html>