<% provide(:title, 'Help')%>
<!DOCTYPE html>
<html>
<head>
	<title>MicroText | Help</title>
</head>
<body>
<h1>Help</h1>
<!-- <p>Help page for MicroText</p> -->
<ul>
<%= link_to "Getting Satarted with MicroText", getting_started_path%>
</ul>
<ul><%= link_to "Signing Up", signing_up_path%></ul>
<ul><%= link_to "Posting Microtext", post_microtext_path%></ul>
</body>
</html>