<div class="center hero-unit">
<h1>Welcome to the MicroText</h1>
<p>Welcome to <a href="http://microtext.herokuapp.com">MicroText</a></p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary "%>

<%= link_to "Sign in", signin_path , class: "btn btn-large btn"%>
</div>