<p><li>Sign in to your Twitter account.</li>
<li>click the blue Post button.</li> 
<li>Make sure your update is fewer than 140 characters. We'll count the characters for you! Remaining characters show up as a number below the box.</li>
<li>Click the Post button to post MicroText.</li>
<li>You will immediately see your MicroText in the timeline on your homepage.</li>
</p>