<!DOCTYPE html>
<html>
<head>
	<title>Help | Signing Up</title>
</head>
<body>
<p>To create an account:<br>
<ol>Go to <a href="http://microtext.herokuapp.com">http://microtext.herokuapp.com</a> and find the sign up box, or go directly to <a href="http://microtext.herokuapp.com/signup">http://microtext.herokuapp.com/sign_up</a></ol><br>
<ol>Enter your full name, email address, and a password.<br></ol>
<ol>Click Sign up for MicroText.</ol></p>

</body>
</html>