
<% unless @recommended_friends.nil? %>
	<% @recommended_friends.each do |friend| %>
		<%= image_tag(User.find(friend).user_avatar.url, :size => "40x40") if User.find(friend).user_avatar.present? %>
		<%= link_to User.find(friend).name, user_path(friend) %>
		<hr/>
	<% end %>
<% else %>
	 <p>You dont have any recommended friend Yet</p>
<% end %>