@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}



textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */



#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/*Copy from firebug*/
.navbar-inner {
  -webkit-box-shadow:rgba(0, 0, 0, 0.0627451) 0 1px 4px;
  background-color:#000000;
  background-image:linear-gradient(black,#000000)
  } 

  .navbar .nav > li > a {
  color:white;
  float: none;
  padding:10px 15px;
  text-decoration:none;
  text-shadow: none;
&:hover {
    color: gray;
    text-decoration: none;
  }
}

 .hero-unit {
  background-color:#EEEEEE;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  margin-bottom:100px;
  padding:120px;
  
  h1 {
  color:inherit;
  font-size:50px;
  letter-spacing:-1px;
  line-height:1;
  margin-bottom:0;
	}
}

/*misc*/

.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;

}

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
 #error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0;
  /*margin: 10px 0 0 0;*/

  ul {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    /*border-top: 1px solid #e8e8e8;*/
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }

  }
}

.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}


/*portfolio design*/
// html, body, p, h1, h2, h3, h4, h5, h6, img { margin: 0; padding: 0; }

// html { font: 16px Helvetica, Tahoma, Arial, sans-serif; }

// .portfolio {
//   width: 900px;
//   margin: 0 auto;
// }

// .portfolio-item {
//   width: 300px;
//   height: 400px;
//   float: left;
//   margin-top: 240px;
//   position: relative;
//   -webkit-perspective: 500;
// }

// .portfolio-bg {
//   -webkit-transform: rotateY(30deg);
//   -webkit-transition: -webkit-transform 0.5s ease;
// }

// .portfolio-item:hover .portfolio-bg {
//   -webkit-transform: rotateY(0deg);
// }

// .portfolio-item:hover .portfolio-description {
//   -webkit-transform: rotateY(0deg) translateZ(0px);
//   transform: rotateY(360deg);
// }

// .portfolio-description {
//   background-color: #f0ede7;
//   color: #8b7d5e;
//   font-size: 20px;
//   width: 190px;
//   padding: 20px;
//   position: absolute;
//   top: 220px;
//   left: 35px;
//   box-shadow: 0px 0px 10px #000;
//   -webkit-transform: rotateY(30deg) translateZ(60px);
//   -webkit-transition: -webkit-transform 0.5s ease;
//   transition: transform 0.5s ease;
// }

// h4 {
//   color: #f2af1d;
//   font-size: 24px;
//   text-align: center;
//   margin-bottom: 10px;
// }
